<!DOCTYPE html>
<html lang="en" ng-app="menu">

<head>
    <% include templates/head.ejs%>
</head>

<body>
<div id="wrapper" ng-controller="mainController">
<% include templates/header.ejs%>
    <!-- Insert Body here -->
    <div class="container">
        <div class="starter-template">
            <%- body %>

            <% include templates/modal.ejs%>
        </div>
    </div>
</div>

<!-- Bootstrap Core JavaScript -->
<script src="/lib/boostrap/js/bootstrap.min.js"></script>

<!-- Bootstrap-switch Core JavaScript -->
<script src="/lib/boostrap/js/bootstrap-switch.min.js"></script>

<!-- Menu Toggle Script -->
<script src="/lib/angular/angular-ui.min.js"></script>

</body>

</html>
