<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MixAndMalt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- bootstrap Css -->
    <link href="/lib/boostrap/css/bootstrap.css" rel="stylesheet">
</head>

<body>
<div id="wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="/index" class="navbar-brand">Mix & Malt</a>
          </div>
          <div class="col-sm-4 col-md-4 navbar-btn">
            <button type="button" class="btn btn-primary" onclick="location.href='/logout'">Logout</button>
          </div>
        </div>
    </div>
    <!-- Insert Body here -->
    <div class="container">
        <div class="starter-template">
            Needs authorization.
        </div>
    </div>
</div>

<!-- Bootstrap Core JavaScript -->
<script src="/lib/boostrap/js/bootstrap.min.js"></script>

</body>

</html>