<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="nodeJS Template">
<meta name="author" content="Luciano Resende">

<!-- styles -->
<link href="/css/style.css" rel="stylesheet">

<!-- bootstrap Css -->
<link href="/lib/boostrap/css/bootstrap.css" rel="stylesheet">
<link href="/lib/boostrap/css/bootstrap-switch.min.css" rel="stylesheet">

<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery/jquery-ui.min.js"></script>

<!-- jQuery Touch Punch - Enable Touch Drag and Drop -->
<script src="/lib/jquery/jquery.touch-punch.min.js"></script>
<!-- jQuery.Shapeshift -->
<script src="/lib/jquery/jquery.shapeshift.min.js"></script>

<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular/angular-filter.min.js"></script>
<script src="/lib/angular/angular-route.js"></script>
<script src="/lib/angular/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="/lib/angular/ng-file-upload/ng-file-upload.min.js"></script>
<!-- load ngmessages -->
<script src="/lib/angular/angular-messages.js"></script>
<!-- Need mroe Bootstrap features? Uncomment some lines below. -->
<script src="/lib/boostrap/js/ui-bootstrap-tpls-1.3.3.min.js"></script>

<script type="text/javascript" src="/lib/angular/sortable.js"></script>

<!-- SPELLS -->
<script src="/core.js"></script>
<script src="/form.js"></script>
<script src="/index.js"></script>
<script src="/orderModal.js"></script>
<script src="/loading.js"></script>
